/* MotoGP-Desktop*/
/* Hoja de estilo para el juego de memoria con cartas */

/* Regla con el estilo general para las tarjetas del juego */
/* especificidad: 002 */
main article {
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
}

/* Reglas con los estilos generales para el encabezado y la imagen de la carta */
/* especificidad: 003 */
main article h3,
main article img {
    border-radius: 0.5em;
    background: #1C7CCC;
    color: #fff;
}
